<h1>logins#home</h1>
<%= form_tag( url: new_user_path)  %>
<%=label_tag :email %>
<%=email_field_tag :email %>






<!-- <form_for class="login-form" action="/login" method="post">
  <input type="text" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
</form>

<form class="" action="index.html" method="post">
  <input type="text" name="" value="">
</form> -->
